body {
  margin: 0;
  min-height: 100vh;
  background: repeating-linear-gradient(
    to right,
    #76944c 0 30px,
    #c8daa6 30px 60px,
    #f5f5ac 60px 90px,
    #ffffff 90px 120px
  );
  color: #727257;
  font-size: 14px;
  font-family: "Alexandria", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.header-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.header {
  border: 5px solid #d1e47f;
  background-color: #ffffff;
  width: fit-content;
  max-width: none;
  padding: 10px;
  text-align: center;
  box-shadow: 4px 4px 10px #000000b7;
  overflow: hidden;
  transition: transform 0.3s ease, max-height 0.5s ease;
  cursor: pointer;
  white-space: nowrap;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.display-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 5px solid #d1e47f;
  width: 300px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  box-shadow: 4px 4px 10px #000000b7;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border-radius: 5px;
}

.display-card:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 15px #000000b7;
}

.display-img {
  height: 300px;
  width: 300px;
}

.display-name {
  margin: 10px;
}

.price {
  display: inline-block;
  color: #727257;
  border-radius: 4px;
  margin: 0;
}

.add-btn {
  display: inline-block;
  background-color: #fef08a;
  color: #727257;
  padding: 8px 16px;
  border: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 100px;
  margin-top: 10px;
  box-shadow: 4px 4px 10px #00000034;
  padding: 5px;
  border-radius: 5px;
}

.add-btn:hover {
  transform: scale(1.05);
}

.filterbtns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.filterbtn {
  display: inline-block;
  background-color: #fef08a;
  color: #727257;
  padding: 8px 16px;
  border: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 150px;
  margin: 5px;
  box-shadow: 4px 4px 10px #00000034;
  padding: 5px;
  border-radius: 5px;
}

.filterbtn:hover {
  transform: scale(1.05);
}

.cartbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cartbtn {
  display: inline-block;
  background-color: #fef08a;
  color: #727257;
  padding: 8px 16px;
  border: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 50px;
  margin: 5px;
  box-shadow: 4px 4px 10px #00000034;
  padding: 5px;
  border-radius: 5px;
}

.cartbtn:hover {
  transform: scale(1.05);
}

.total-display-div {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
  height: auto;
}

.total-display-div::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  padding: 20px 10px;
  background-color: #ffffff;
  border: 5px solid #d1e47f;
  border-radius: 5px;
  box-shadow: 4px 4px 10px #00000034;
  z-index: -1;
  transform: scaleX(0.3);
}

.total-display {
  background-color: #fef08a;
  color: #727257;
  padding: 8px 16px;
  border: none;
  font-weight: bold;
  text-align: center;
  width: 50px;
  margin: 5px;
  box-shadow: 4px 4px 10px #00000034;
  padding: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  .display-card {
    flex-direction: column;
    align-items: center;
    max-height: none;
  }
  .header {
    width: 90%;
    white-space: normal;
    word-wrap: break-word;
  }
}
